h1{
    text-align: center;
}
.menu:link{
    color: black;
    padding: 20px 20px;
    line-height: 20px;
}
 
label {
    float: left;
    width: 100px;
    padding-right: 24px;
}

#nama_user{
    width: 20%;
}

#email_user{
    width: 20%;
}
nav{
    float: right;
}
header{
    background-color: white;
    position: fixed;
    width: 100%;
}
#background{
    background-image: url(pattern.jpg);
    margin: 0;
}

footer{
    background-color: black;
    text-align: center;
    color: white;
    height: 40px;
    line-height: 40px;
    margin: 0;
    padding: 0;
}
section{
    background-color: white;
    margin:auto;
    width: 60%;
    padding: 50px 50px;
    margin-bottom: 10px;
}

#article-list{
    font-size: 16px;
    font-family: sans-serif;
}

.menu2 {
    border-bottom: 1px solid black;
}
