.a{
  width: 25%;
  margin: auto;
  padding-bottom: 10px;
}
h1{
  text-align: center;
  font-weight: 400;
  /* color:gray; */
  max-height: 20px;
}
p{
  color:black;
  padding-bottom: 15px;
  border-bottom: 2px solid gray;
  margin-bottom: 0;
}
fieldset{
  background-color: white;
  margin:auto;
  width: 20%;
  border: 0;
  box-shadow: 3px 3px 3px 3px rgb(231, 227, 227) ;
}
.list{
  border-bottom: 1px solid gray;
  color:black;
  max-height: 40px;
  padding-bottom: 8px;
  padding-top: 8px;
  width: 95%;
  margin: auto;
}
input[type=checkbox]{
  transform: scale(1.5);
}

input[type=submit]{
  width: 400px;
  height: 40px;
  margin-top: 10px;
  margin-left: 3px;
  color: black;
  background-color: rgb(202, 202, 202)ed;
  border: 1px solid grey;
}
input[type=submit]:active{
  background-color: grey;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  background-color:rgb(202, 202, 202);
  border:1px solid gray;
  margin: auto;
}
table th{
  text-align: left;
  padding: 10px 10px ;
  border:1px solid gray;
  background-color: rgb(202, 202, 202);
}
table td{
  padding-left: 10px  ;
  padding-right: 10px;
  border:1px solid gray;
  background-color: white;
}

button{
  font-family: sans-serif;
  font-size: medium;
  height: 20px;
}
button:hover{
  background-color: rgb(202, 202, 202)ed;
}
form{
  border: 1px solid;
  width: 30%;
  margin: auto;
  padding: 15px 15px;
}
label {
  font-weight:bold;
  padding-right: 24px;
}
input[type=text]{
  width: 97%;
  height: 20px;
}
input[type=number]{
  width: 97%;
  height: 20px;
}
.box.white{
  background-color: white;
  height: 40px;
}

.box.black{
  background-color: rgb(22, 22, 22);
  height: 40px;
}

.TableAnt {
  width: 50%;
  margin: auto;
}

