.input-form, select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.input-submit {
  width: 100%;
  background-color: #1322f3;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.input-submit:hover {
  background-color: #0044ff;
}

.form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

textarea{
  height: 200px;
  resize: none;
}